* {
    margin: 0;
    padding: 0;
    overflow-x: hidden
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden
}
body {
    font-family: "Rubik",sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}
@media screen and (max-width: 451px) {
    body {
    align-items: center;
    justify-content: center
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    body {
    overflow: hidden;
    align-items: center;
    justify-content: center
}

}
@media (min-width: 551px) and (max-width: 700px) {
    body {
    overflow: hidden;
    align-items: center;
    justify-content: center
}

}
body h2 {
    font-size: 24px
}
@media screen and (max-width: 451px) {
    body P {
    font-size: 14px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    body P {
    font-size: 15px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    body P {
    font-size: 16px
}

}
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 40px 0 0 0
}
header .logo {
    max-width: 100%;
    flex: 2;
    padding-left: 70px
}
@media (min-width: 852px) and (max-width: 1100px) {
    header .logo {
    flex: 1
}

}
@media screen and (max-width: 451px) {
    header .logo {
    padding-left: 30px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    header .logo {
    padding-left: 20px
}

}
header .menu-img {
    display: none;
    cursor: pointer
}
header .menu-img img {
    width: 100%
}
@media screen and (max-width: 451px) {
    header .menu-img {
    display: block;
    padding-right: 40px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    header .menu-img {
    display: block;
    padding-right: 20px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    header .menu-img {
    display: block;
    padding-right: 20px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    header .menu-img {
    display: block;
    padding-right: 40px
}
header .menu-img img {
    width: 150%
}

}
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex: 2
}
@media screen and (max-width: 451px) {
    header nav {
    display: none
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    header nav {
    display: none
}

}
@media (min-width: 551px) and (max-width: 700px) {
    header nav {
    display: none
}

}
@media (min-width: 701px) and (max-width: 851px) {
    header nav {
    display: none
}

}
header nav a {
    color: #252b46;
    text-decoration: none;
    padding: 0 0 0 30px
}
header nav a:hover {
    color: #fa5757;
    cursor: pointer
}
header .login {
    width: 100px;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    background-color: #fa5757;
    border-color: #fa5757;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 50px
}
@media screen and (max-width: 451px) {
    header .login {
    display: none
}

}
header .login:hover {
    background-color: white;
    color: #fa5757
}
.mobile-nav {
    display: none
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .mobile-nav {
    display: block;
    background-color: #252b46;
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: .95;
    z-index: 2;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    transition: width .3s ease
}
.mobile-nav .mobile-icons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.mobile-nav .mobile-icons .close {
    cursor: pointer
}
.mobile-nav .menu {
    margin: 40px 20px
}
.mobile-nav .menu a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray
}
.mobile-nav .menu a: nth-of-type(1) {
    border-top-style: solid;
    border-top-color: lightgray;
    border-top-width: 1px
}
.mobile-nav .login-btn {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    background-color: #252b46;
    border-style: solid;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer
}

}
.mobile-nav .social {
    font-size: 6vw;
    margin: 130px auto 0;
    overflow: hidden
}
.mobile-nav .social a {
    color: white;
    padding: 20px
}
.mobile-nav .social a i:hover {
    color: #fa5757;
    cursor: pointer
}
@media screen and (max-width: 451px) {
    .mobile-nav {
    display: block;
    background-color: #252b46;
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: .95;
    z-index: 2;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    transition: width .3s ease
}
.mobile-nav .mobile-icons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.mobile-nav .mobile-icons .close {
    cursor: pointer
}
.mobile-nav .menu {
    margin: 40px 20px
}
.mobile-nav .menu a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray
}
.mobile-nav .menu a: nth-of-type(1) {
    border-top-style: solid;
    border-top-color: lightgray;
    border-top-width: 1px
}
.mobile-nav .login-btn {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    background-color: #252b46;
    border-style: solid;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .mobile-nav {
    display: block;
    background-color: #252b46;
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: .95;
    z-index: 2;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    transition: width .3s ease
}
.mobile-nav .mobile-icons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.mobile-nav .mobile-icons .close {
    cursor: pointer
}
.mobile-nav .menu {
    margin: 40px 20px
}
.mobile-nav .menu a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray
}
.mobile-nav .menu a: nth-of-type(1) {
    border-top-style: solid;
    border-top-color: lightgray;
    border-top-width: 1px
}
.mobile-nav .login-btn {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    background-color: #252b46;
    border-style: solid;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .mobile-nav {
    display: block;
    background-color: #252b46;
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: .95;
    z-index: 2;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    transition: width .3s ease
}
.mobile-nav .mobile-icons {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.mobile-nav .mobile-icons .close {
    cursor: pointer
}
.mobile-nav .menu {
    margin: 40px 20px
}
.mobile-nav .menu a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray
}
.mobile-nav .menu a: nth-of-type(1) {
    border-top-style: solid;
    border-top-color: lightgray;
    border-top-width: 1px
}
.mobile-nav .login-btn {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    background-color: #252b46;
    border-style: solid;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer
}

}
.mobile-nav .social {
    font-size: 28px;
    margin: 100px auto 0
}
.mobile-nav .social a {
    color: white;
    padding: 20px
}
.mobile-nav .social a i:hover {
    color: #fa5757;
    cursor: pointer
}
@media screen and (max-width: 451px) {
    .active {
    width: 100%;
    transition: width .3s ease
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .active {
    width: 100%;
    transition: width .3s ease
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .active {
    width: 100%;
    transition: width .3s ease
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .active {
    width: 100%;
    transition: width .3s ease
}

}
.prt-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px
}
@media screen and (max-width: 451px) {
    .prt-1 {
    flex-direction: column-reverse;
    align-items: center
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .prt-1 {
    flex-direction: column-reverse
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .prt-1 {
    flex-direction: column-reverse
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .prt-1 {
    flex-direction: column-reverse;
    align-items: center
}

}
.prt-1 .left-side {
    align-self: center;
    padding-left: 70px
}
@media (min-width: 852px) and (max-width: 1100px) {
    .prt-1 .left-side {
    flex: 2
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .prt-1 .left-side {
    padding: 0;
    width: 80%;
    text-align: center;
    margin-top: 20px
}

}
@media screen and (max-width: 451px) {
    .prt-1 .left-side {
    padding: 0;
    width: 60%;
    text-align: center;
    margin-top: 20px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .prt-1 .left-side {
    padding: 0;
    text-align: center;
    margin: 20px auto 0 auto
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .prt-1 .left-side {
    padding: 0;
    text-align: center;
    margin-top: 50px
}

}
.prt-1 .left-side h1 {
    font-weight: 600;
    font-size: 3vw;
    width: 70%
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .prt-1 .left-side h1 {
    font-size: 5vw;
    width: 90%;
    padding-left: 10px
}

}
@media screen and (max-width: 451px) {
    .prt-1 .left-side h1 {
    font-size: 27px;
    width: 100%
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .prt-1 .left-side h1 {
    font-size: 30px;
    width: 100%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .prt-1 .left-side h1 {
    font-size: 30px;
    width: 100%
}

}
.prt-1 .left-side p {
    max-width: 500px;
    color: #9194a1;
    margin: 20px 0 20px 0
}
@media screen and (max-width: 451px) {
    .prt-1 .left-side p {
    width: 100%
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .prt-1 .left-side p {
    width: 100%
}

}
@media screen and (max-width: 451px) {
    .prt-1 .left-side .btns {
    display: flex;
    flex-direction: row
}
.prt-1 .left-side .btns .get-btn {
    font-size: 12px;
    padding: 0 3px
}

}
.prt-1 .left-side .get-btn {
    width: 140px;
    height: 40px;
    border-radius: 7px;
    border-style: solid;
    font-weight: 600;
    margin-top: 20px
}
.prt-1 .left-side .chrome {
    background-color: #5368df;
    border-color: #5368df;
    color: white
}
.prt-1 .left-side .chrome:hover {
    background-color: white;
    color: #5368df;
    cursor: pointer
}
.prt-1 .left-side .firefox {
    color: #252b46;
    background-color: whitesmoke;
    border-color: whitesmoke;
    margin-left: 10px
}
.prt-1 .left-side .firefox:hover {
    background-color: white;
    border-color: #252b46;
    cursor: pointer
}
.prt-1 .img-container {
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    flex: 2;
    overflow: hidden;
    padding: 0 0 100px 0
}
@media (min-width: 852px) and (max-width: 1100px) {
    .prt-1 .img-container {
    flex: 2;
    padding: 0 0 190px 0;
    margin-top: 100px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .prt-1 .img-container {
    height: 100%;
    width: 100%;
    padding: 0 10px 50px 10px
}

}
@media screen and (max-width: 451px) {
    .prt-1 .img-container {
    padding: 40px 10px 60px 0
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .prt-1 .img-container {
    padding: 40px 10px 60px 0;
    width: 100%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .prt-1 .img-container {
    padding: 40px 10px 50px 0
}

}
.prt-1 .img-container .curved-background {
    background-color: #5368df;
    width: 75%;
    height: 350px;
    z-index: -1;
    position: absolute;
    top: 120px;
    right: 0;
    border-bottom-left-radius: 180px
}
@media (min-width: 852px) and (max-width: 1100px) {
    .prt-1 .img-container .curved-background {
    width: 80%;
    max-height: 55%;
    border-bottom-left-radius: 140px;
    top: 90px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .prt-1 .img-container .curved-background {
    top: 60px;
    right: 0px;
    height: 70%;
    width: 80%;
    border-bottom-left-radius: 100px
}

}
@media screen and (max-width: 451px) {
    .prt-1 .img-container .curved-background {
    width: 80%;
    top: 100px;
    height: 220px;
    border-bottom-left-radius: 90px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .prt-1 .img-container .curved-background {
    width: 80%;
    height: 320px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .prt-1 .img-container .curved-background {
    width: 85%;
    height: 390px
}

}
.prt-1 .img-container .hero-img {
    max-width: 100%
}
.features {
    margin-top: 130px
}
@media screen and (max-width: 451px) {
    .features {
    margin-top: 100px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .features {
    margin-top: 100px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    .features {
    margin-top: 0
}

}
.features .headline {
    width: 43%;
    text-align: center;
    margin: 0 auto
}
@media (min-width: 852px) and (max-width: 1100px) {
    .features .headline {
    width: 50%
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .features .headline {
    width: 85%
}

}
@media screen and (max-width: 451px) {
    .features .headline {
    width: 70%
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .features .headline {
    width: 75%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .features .headline {
    width: 90%
}

}
.features .headline h2 {
    font-size: 2.5vw;
    font-weight: 600
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .features .headline h2 {
    font-size: 25px
}

}
@media screen and (max-width: 451px) {
    .features .headline h2 {
    font-size: 25px;
    width: 100%
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .features .headline h2 {
    font-size: 26px;
    width: 100%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .features .headline h2 {
    font-size: 26px
}

}
.features p {
    color: #9194a1;
    margin-top: 30px
}
.titles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
    padding: 0 30px;
    width: 100%;
    color: #9194a1
}
@media (min-width: 852px) and (max-width: 1100px) {
    .titles {
    margin: 0 auto;
    padding: 0
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .titles {
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: flex-start
}

}
@media screen and (max-width: 451px) {
    .titles {
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: flex-start
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .titles {
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .titles {
    margin: 20px auto;
    width: 100%
}

}
.titles .title {
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 1.5px
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .titles .title {
    width: 70%;
    text-align: center;
    padding: 0
}
.titles .title p {
    margin: 10px auto 0;
    width: 70%;
    font-size: 4vw;
    overflow: hidden
}

}
@media screen and (max-width: 451px) {
    .titles .title {
    width: 85%;
    text-align: center;
    padding: 0;
    border-style: solid;
    border-color: lightgray;
    border-width: 1.5px;
    border-right-style: none;
    border-left-style: none
}
.titles .title p {
    margin: 10px auto 0;
    width: 50%;
    font-size: 4vw
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .titles .title {
    width: 80%;
    text-align: center;
    padding: 0
}
.titles .title p {
    margin: 10px auto 0;
    width: 70%;
    font-size: 22px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .titles .title {
    padding-right: 10px
}
.titles .title p {
    margin: 10px auto 0;
    width: 100%
}

}
.titles .title p {
    padding: 0 20px;
    font-weight: 600;
    line-height: 50px
}
.titles .title p:hover {
    cursor: pointer
}
.titles .active::after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #fa5757;
    content: "";
    display: block;
    height: 6px;
    width: 0
}
.titles .active:hover::after {
    width: 100%
}
.titles .active:hover {
    border-style: none;
    color: #fa5757;
    cursor: pointer
}
.titles .clicked {
    border-bottom-style: solid;
    color: #252b46;
    border-bottom-color: #fa5757;
    border-bottom-width: 6px
}
.titles .speedy,.titles .easy {
    margin-left: 70px
}
@media screen and (max-width: 451px) {
    .titles .speedy,.titles .easy {
    margin: 0
}

}
.tabs .tab-1,.tabs .tab-2,.tabs .tab-3 {
    display: none
}
.tabs .container {
    transform: translateX(-450px)
}
.tabs .text {
    flex: 1;
    transform: translateX(510px)
}
.tabs .text p {
    color: #9194a1;
    max-width: 450px
}
.tabs .text .more-btn {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    background-color: #5368df;
    border-color: #5368df;
    color: white;
    font-family: "Rubik",sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 50px
}
.tabs .animated-txt {
    animation: slidingText .5s ease-in-out;
    transform: translateX(0%)
}
.tabs .animated-img {
    animation: slidingImg .5s ease-in-out;
    transform: translateX(0%)
}
@keyframes slidingText {
    from {
    transform: translateX(515px)
}
to {
    transform: translateX(0%)
}

}
@keyframes slidingImg {
    from {
    transform: translateX(-700px)
}
to {
    transform: translateX(0%)
}

}
.tabs .visible {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
@media screen and (max-width: 451px) {
    .tabs .visible {
    flex-direction: column
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .visible {
    flex-direction: column
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .visible {
    flex-direction: column
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .visible {
    flex-direction: column
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-1 .text {
    width: 65%;
    text-align: center
}
.tabs .tab-1 .text h2 {
    font-size: 25px
}
.tabs .tab-1 .text p {
    line-height: 18px
}
.tabs .tab-1 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-1 .text {
    width: 85%;
    text-align: center
}
.tabs .tab-1 .text h2 {
    font-size: 25px
}
.tabs .tab-1 .text p {
    line-height: 18px;
    overflow: hidden
}
.tabs .tab-1 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .tab-1 .text {
    width: 80%;
    text-align: left;
    margin-top: 20px
}
.tabs .tab-1 .text h2 {
    font-size: 26px
}
.tabs .tab-1 .text p {
    line-height: normal;
    overflow: hidden
}
.tabs .tab-1 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .tab-1 .text {
    width: 80%;
    text-align: left;
    margin-top: 20px
}
.tabs .tab-1 .text h2 {
    font-size: 26px
}
.tabs .tab-1 .text p {
    line-height: normal;
    overflow: hidden
}

}
.tabs .tab-1 .container::after {
    content: "";
    background-color: #5368df;
    width: 75%;
    height: 350px;
    z-index: -1;
    position: absolute;
    top: 180px;
    left: 0;
    border-bottom-right-radius: 200px
}
@media (min-width: 852px) and (max-width: 1100px) {
    .tabs .tab-1 .container::after {
    width: 70%;
    height: 250px;
    border-bottom-right-radius: 140px
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-1 .container::after {
    top: 160px;
    left: 0;
    width: 80%;
    height: 210px;
    border-bottom-right-radius: 120px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-1 .container::after {
    width: 85%;
    height: 45%;
    border-bottom-right-radius: 120px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .tab-1 .container::after {
    width: 75%;
    max-height: 55%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .tab-1 .container::after {
    width: 70%
}

}
.tabs .tab-1 .container {
    position: relative;
    flex: 1;
    width: 100%;
    padding: 100px 130px 100px 100px;
    overflow: hidden
}
@media (min-width: 852px) and (max-width: 1100px) {
    .tabs .tab-1 .container {
    padding-bottom: 180px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-1 .container {
    width: 80%;
    padding: 120px 30px 120px 80px
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-1 .container {
    width: 85%;
    padding: 120px 50px 120px 58px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .tab-1 .container {
    width: 80%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .tab-1 .container {
    width: 80%
}

}
.tabs .tab-1 .container .img {
    max-width: 100%
}
.tabs .tab-2 .container::after {
    content: "";
    background-color: #5368df;
    width: 77%;
    height: 300px;
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 0;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px
}
@media (min-width: 852px) and (max-width: 1100px) {
    .tabs .tab-2 .container::after {
    width: 80%;
    height: 250px
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-2 .container::after {
    top: 120px;
    left: 0;
    width: 75%;
    height: 220px;
    border-bottom-right-radius: 120px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-2 .container::after {
    height: 55%;
    top: 120px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .tab-2 .container::after {
    height: 60%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .tab-2 .container::after {
    height: 65%;
    width: 70%
}

}
.tabs .tab-2 .container {
    position: relative;
    flex: 1;
    width: 100%;
    padding: 70px 100px 70px 70px;
    overflow: hidden
}
@media (min-width: 852px) and (max-width: 1100px) {
    .tabs .tab-2 .container {
    padding-bottom: 120px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-2 .container {
    padding: 70px 120px 130px 0px;
    width: 90%
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-2 .container {
    padding: 70px 170px 70px 0;
    width: 95%
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .tab-2 .container {
    width: 90%;
    padding: 70px 150px 70px 0
}

}
.tabs .tab-2 .container .img {
    position: relative;
    top: 0;
    left: 160px;
    max-width: 75%;
    overflow: hidden
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-2 .text {
    text-align: center;
    width: 80%
}
.tabs .tab-2 .text h2 {
    font-size: 25px
}
.tabs .tab-2 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-2 .text {
    text-align: center;
    width: 65%
}
.tabs .tab-2 .text h2 {
    font-size: 25px
}
.tabs .tab-2 .text p {
    line-height: 18px
}
.tabs .tab-2 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .tab-2 .text h2 {
    font-size: 26px
}
.tabs .tab-2 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .tab-2 .text h2 {
    font-size: 26px
}

}
.tabs .tab-3 .container::after {
    content: "";
    background-color: #5368df;
    width: 77%;
    height: 300px;
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 0;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px
}
@media (min-width: 852px) and (max-width: 1100px) {
    .tabs .tab-3 .container::after {
    width: 70%;
    height: 230px
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-3 .container::after {
    height: 240px;
    width: 80%
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-3 .container::after {
    height: 240px;
    width: 70%
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .tab-3 .container::after {
    height: 350px;
    width: 60%
}

}
.tabs .tab-3 .container {
    position: relative;
    flex: 1;
    width: 100%;
    padding: 70px 100px 70px 70px;
    overflow: hidden
}
@media (min-width: 852px) and (max-width: 1100px) {
    .tabs .tab-3 .container {
    padding-bottom: 100px
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-3 .container {
    padding: 100px 70px 100px 0px
}

}
.tabs .tab-3 .container .img {
    position: relative;
    top: 0;
    left: 110px;
    max-width: 75%;
    overflow: hidden
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .tabs .tab-3 .text {
    width: 90%;
    text-align: center
}
.tabs .tab-3 .text h2 {
    font-size: 5vw
}
.tabs .tab-3 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media screen and (max-width: 451px) {
    .tabs .tab-3 .text {
    width: 65%;
    text-align: center
}
.tabs .tab-3 .text h2 {
    font-size: 5vw
}
.tabs .tab-3 .text p {
    line-height: 18px;
    margin-bottom: 0
}
.tabs .tab-3 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .tabs .tab-3 .text h2 {
    font-size: 26px
}
.tabs .tab-3 .text .more-btn {
    width: 100px;
    height: 40px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .tabs .tab-3 .text h2 {
    font-size: 26px
}

}
.tabs .tab-3 .text p {
    margin-top: 25px
}
.tabs .tab-3 .text .more-btn {
    margin-top: 50px
}
.download-sec {
    margin-top: 130px
}
@media screen and (max-width: 451px) {
    .download-sec {
    margin-top: 110px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    .download-sec {
    margin-top: 100px
}

}
.download-sec .headline {
    width: 550px;
    text-align: center;
    margin: 0 auto
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .headline {
    width: 100%
}
.download-sec .headline h2 {
    font-size: 25px
}
.download-sec .headline P {
    width: 90%;
    margin: 0 auto;
    line-height: 18px;
    overflow: hidden
}

}
@media screen and (max-width: 451px) {
    .download-sec .headline {
    width: 100%
}
.download-sec .headline h2 {
    font-size: 25
}
.download-sec .headline P {
    width: 60%;
    margin: 0 auto;
    line-height: 18px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .download-sec .headline {
    width: 100%
}
.download-sec .headline h2 {
    font-size: 26
}
.download-sec .headline P {
    width: 80%;
    margin: 0 auto;
    line-height: 18px;
    overflow: hidden
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .download-sec .headline h2 {
    font-size: 26px
}

}
.download-sec .headline p {
    color: #9194a1;
    margin-top: 30px
}
.download-sec .browsers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .browsers {
    flex-direction: column;
    align-items: center
}

}
@media screen and (max-width: 451px) {
    .download-sec .browsers {
    flex-direction: column;
    align-items: center
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .download-sec .browsers {
    flex-direction: column;
    align-items: center
}

}
.download-sec .browsers .card {
    width: 270px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px whitesmoke;
    padding: 0 0 20px 0
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .browsers .card {
    height: 300px;
    width: 240px
}
.download-sec .browsers .card img {
    width: auto
}

}
@media screen and (max-width: 451px) {
    .download-sec .browsers .card {
    height: 300px;
    width: 240px
}

}
.download-sec .browsers .card img: nth-of-type(1) {
    margin: 20px 0 10px
}
.download-sec .browsers .card ul {
    list-style: none;
    margin-top: 10px;
    padding: 20px;
    overflow: hidden
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .browsers .card ul {
    overflow: hidden
}

}
.download-sec .browsers .card ul li: nth-of-type(1) {
    font-weight: 600
}
@media screen and (max-width: 451px) {
    .download-sec .browsers .card ul li: nth-of-type(1) {
    font-size: 18px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .browsers .card ul li: nth-of-type(1) {
    font-size: 17px
}

}
.download-sec .browsers .card ul li: nth-of-type(2) {
    color: #9194a1;
    font-size: 1vw;
    margin-top: 5px
}
@media screen and (max-width: 451px) {
    .download-sec .browsers .card ul li: nth-of-type(2) {
    font-size: 14px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .browsers .card ul li: nth-of-type(2) {
    font-size: 14px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .download-sec .browsers .card ul li: nth-of-type(2) {
    font-size: 14px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    .download-sec .browsers .card ul li: nth-of-type(2) {
    font-size: 14px
}

}
.download-sec .browsers .card .dotted-line {
    width: 260px;
    margin: 30px 0 35px
}
.download-sec .browsers .card .install-btn {
    width: 200px;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border-color: #5368df;
    background-color: #5368df
}
@media screen and (max-width: 451px) {
    .download-sec .browsers .card .install-btn {
    height: 60px
}

}
.download-sec .browsers .card .install-btn:hover {
    background-color: white;
    color: #5368df;
    cursor: pointer
}
.download-sec .browsers .firefox-add {
    margin: 40px 0 0
}
@media screen and (max-width: 451px) {
    .download-sec .browsers .firefox-add {
    margin: 60px 0 60px 0
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .browsers .firefox-add {
    margin: 60px 0 60px 0
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .download-sec .browsers .firefox-add {
    margin: 60px 0 60px 0
}

}
.download-sec .browsers .opera-add {
    margin: 80px 0 0
}
@media screen and (max-width: 451px) {
    .download-sec .browsers .opera-add {
    margin: 0
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .download-sec .browsers .opera-add {
    margin: 0
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .download-sec .browsers .opera-add {
    margin: 0
}

}
.quests {
    margin-top: 150px;
    text-align: center
}
@media screen and (max-width: 451px) {
    .quests {
    margin-top: 100px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .quests {
    margin-top: 70px
}

}
.headline {
    text-align: center;
    width: 500px;
    margin: 0 auto
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .headline {
    width: 100%
}
.headline h2 {
    font-size: 25px;
    padding: 0 20px
}
.headline p {
    line-height: 18px;
    overflow: hidden
}

}
@media screen and (max-width: 451px) {
    .headline {
    width: 65%
}
.headline h2 {
    font-size: 25px;
    padding: 0 20px
}
.headline p {
    line-height: 18px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .headline h2 {
    font-size: 26px
}

}
.headline p {
    color: #9194a1;
    margin: 30px 0 60px 0
}
.quest-4 {
    border-bottom-style: solid;
    border-color: lightgray;
    border-width: 1px
}
.collapse {
    width: 500px;
    margin: 5px auto 0 auto;
    border-top-style: solid;
    border-color: lightgray;
    border-width: 1px;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .4s
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .collapse {
    width: 90%
}
.collapse p {
    font-size: 18px
}

}
@media screen and (max-width: 451px) {
    .collapse {
    width: 80%
}
.collapse p {
    font-size: 14px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .collapse {
    width: 80%
}

}
.collapse p {
    color: #252b46;
    font-weight: 500;
    padding-bottom: 10px
}
.collapse p:hover {
    color: #fa5757;
    cursor: pointer
}
.collapse .collapse-btn {
    border-style: none;
    background-color: white;
    transition: all .2s linear
}
.collapse .collapse-btn i {
    color: #5368df;
    font-size: 1.5vw;
    cursor: pointer
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .collapse .collapse-btn i {
    font-size: 16px
}

}
@media screen and (max-width: 451px) {
    .collapse .collapse-btn i {
    font-size: 16px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .collapse .collapse-btn i {
    font-size: 16px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    .collapse .collapse-btn i {
    font-size: 16px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    .collapse .collapse-btn i {
    font-size: 16px
}

}
.collapse .rotate {
    transform: rotate(180deg)
}
.collapse .rotate i {
    color: #fa5757
}
.content-4 {
    border-color: lightgray;
    border-width: 1px;
    border-bottom-style: none
}
.content-4 p {
    padding-bottom: 10px
}
.content {
    width: 500px;
    margin: 0 auto;
    color: #9194a1;
    padding: 0 10px;
    overflow: hidden;
    max-height: 0;
    text-align: left;
    transition: max-height .2s ease-out
}
@media screen and (min-width: 451px) and (max-width: 551px) {
    .content {
    width: 90%
}
.content P {
    line-height: 20px;
    font-size: 16px;
    padding-bottom: 10px
}

}
@media screen and (max-width: 451px) {
    .content {
    width: 70%
}
.content P {
    line-height: 20px;
    font-size: 14px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    .content {
    width: 80%
}
.content P {
    font-size: 16px
}

}
.more-btn {
    border-color: #5368df;
    background-color: #5368df;
    color: white;
    font-family: "Rubik",sans-serif;
    width: 110px;
    height: 50px;
    border-radius: 8px;
    font-size: 14px;
    margin: 50px 0 0 0;
    cursor: pointer
}
@media screen and (max-width: 451px) {
    .more-btn {
    margin: 50px 0 0 0
}

}
footer {
    background-color: #252b46;
    width: auto;
    margin: 130px 0 0
}
@media (min-width: 551px) and (max-width: 700px) {
    footer {
    width: 100%
}

}
footer .contact {
    background-color: #5368df;
    color: white;
    text-align: center;
    padding: 60px 0 70px
}
footer .contact p {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1vw
}
@media screen and (max-width: 451px) {
    footer .contact p {
    font-size: 13px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .contact p {
    font-size: 14px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .contact p {
    font-size: 14px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .contact p {
    font-size: 15px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .contact p {
    font-size: 14px
}

}
footer .contact h2 {
    width: 400px;
    margin: 30px auto;
    letter-spacing: 2px
}
@media screen and (max-width: 451px) {
    footer .contact h2 {
    font-size: 25px;
    width: 90%
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .contact h2 {
    font-size: 25px;
    width: 90%
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .contact h2 {
    font-size: 26px
}

}
footer .contact form {
    display: flex;
    justify-content: center;
    flex-direction: row
}
@media screen and (max-width: 451px) {
    footer .contact form {
    flex-direction: column;
    justify-content: center;
    align-items: center
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .contact form {
    flex-direction: column;
    justify-content: center;
    align-items: center
}

}
footer .contact form input {
    width: 265px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 0 10px;
    font-size: 15px;
    font-family: "Rubik",sans-serif;
    margin: 1px
}
footer .contact form .contact-btn:hover {
    cursor: pointer
}
footer .contact form .contact-btn {
    width: 110px;
    height: 45px;
    border-radius: 5px;
    border-style: solid;
    background-color: #fa5757;
    border-color: #fa5757;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px
}
@media screen and (max-width: 451px) {
    footer .contact form .contact-btn {
    width: 290px;
    margin: 20px 0 0 0
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .contact form .contact-btn {
    width: 290px;
    margin: 20px 0 0 0
}

}
footer .contact .error p {
    letter-spacing: normal;
    text-transform: none;
    font-style: italic;
    font-size: 1vw;
    padding: 60px 0 0 0;
    background-color: #fa5757;
    width: 290px;
    height: 20px;
    border-style: solid;
    border-color: #fa5757;
    border-radius: 4px;
    text-align: center;
    z-index: -1;
    margin: -55px 0 0 0;
    visibility: hidden;
    transition: visibility .2s linear
}
@media screen and (max-width: 451px) {
    footer .contact .error p {
    font-size: 11px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .contact .error p {
    font-size: 11px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .contact .error p {
    font-size: 12px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .contact .error p {
    font-size: 12px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .contact .error p {
    font-size: 12px
}

}
footer .footer-nav {
    padding-top: 30px;
    display: flex;
    flex-direction: row
}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .footer-nav {
    flex-direction: column;
    align-items: center
}

}
@media screen and (max-width: 451px) {
    footer .footer-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .footer-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .footer-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .footer-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center
}

}
footer .footer-nav img {
    margin-left: 100px
}
@media screen and (max-width: 451px) {
    footer .footer-nav img {
    margin: 0
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .footer-nav img {
    margin: 0
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .footer-nav img {
    margin: 0
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .footer-nav img {
    margin: 0
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .footer-nav img {
    margin: 0
}

}
footer .footer-nav nav {
    margin: 0 0 0 80px
}
@media screen and (max-width: 451px) {
    footer .footer-nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .footer-nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .footer-nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .footer-nav nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0 0;
    justify-content: space-around
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .footer-nav nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 0 0
}

}
footer .footer-nav nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 0 20px;
    letter-spacing: 3px
}
@media screen and (max-width: 451px) {
    footer .footer-nav nav a {
    padding: 10px 0;
    font-size: 13px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .footer-nav nav a {
    padding: 10px 0;
    font-size: 13px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .footer-nav nav a {
    padding: 10px 0;
    font-size: 14px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .footer-nav nav a {
    margin: 20px 0 20px 20px;
    font-size: 16px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .footer-nav nav a {
    margin: 20px 0 20px 20px;
    font-size: 16px
}

}
footer .footer-nav nav a:hover {
    color: #fa5757;
    cursor: pointer
}
footer .social {
    margin-left: 360px
}
@media screen and (max-width: 451px) {
    footer .social {
    margin: 0
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .social {
    margin: 0
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .social {
    margin: 0
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .social {
    margin: 0
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .social {
    margin: 0
}

}
footer .social i {
    padding: 0 10px;
    color: white;
    font-size: 2vw
}
@media screen and (max-width: 451px) {
    footer .social i {
    font-size: 25px;
    padding: 20px 20px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .social i {
    font-size: 25px;
    padding: 20px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .social i {
    font-size: 26px;
    padding: 18px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .social i {
    font-size: 26px;
    padding: 18px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .social i {
    font-size: 26px;
    padding: 20px
}

}
footer .social i:hover {
    color: #fa5757;
    cursor: pointer
}
footer .attribution {
    font-size: 1.2vw;
    color: whitesmoke;
    text-align: right;
    margin: 10px 0 0;
    padding: 0 10px 10px 0
}
@media screen and (max-width: 451px) {
    footer .attribution {
    font-size: 11px
}

}
@media screen and (min-width: 451px) and (max-width: 551px) {
    footer .attribution {
    font-size: 11px;
    padding-bottom: 10px
}

}
@media (min-width: 551px) and (max-width: 700px) {
    footer .attribution {
    font-size: 12px
}

}
@media (min-width: 701px) and (max-width: 851px) {
    footer .attribution {
    font-size: 12px
}

}
@media (min-width: 852px) and (max-width: 1100px) {
    footer .attribution {
    font-size: 12px
}

}
footer .attribution a {
    color: #5368df;
    text-decoration: none
}
footer .attribution a:hover {
    color: whitesmoke
}
