@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
section{
    margin: 50px 0px;
}
a,p{
    color: hsl(229, 8%, 60%);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li{
    margin-right: 40px;  
}
.nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}
.nav img{
    margin-left: 25px;
}
.main{
    margin: 40px 0px;
}
.back{
    border: 20px solid black !important;
}
.ill1 img{
    width: 100%;
    object-fit: contain;
}
header::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 44%;
    border-radius: 25% 0 0 25%;
    right: 0%;
    top: 30%;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
  }
.main,.ill1{
    align-items: center;
}
.main p{
    max-width: 100%;
    width: 85%;
}
.btn{
    font-size: 12px;
    padding: 10px 25px;
}
.btn1{
    background-color: hsl(231, 69%, 60%);
    color: #fff;
}
.btn2{
    box-shadow: 0px 0px 7px 0px hsl(229, 8%, 60%);
    color: hsl(229, 31%, 21%);
    margin-left: 10px;
}
.btnx{
    padding: 8px 30px;
    margin-right: 80px !important;
}
ul{
    list-style-type: none;
}
.sort{
    margin: 20px 0px !important;
}
.sort ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
  }
  
  .sort ul li {
    cursor: pointer;
    color: hsl(229, 8%, 60%);
    border-bottom: 1px solid hsl(229, 8%, 60%) !important;
    padding: 0 30px 5px 30px;
    line-height: 2;
    text-align: center;
    font-size: 14px;
    transition: color .25s;
  }
  
  .sort ul li:hover {
    color: red;
  }
  
  .sort ul li.activex {
    border-bottom: 2px solid hsl(0, 94%, 66%) !important;
    color: black !important;
  }
  .sort ul li.active:hover {
    border-bottom: 2px solid black !important;
    color: black !important;
  }
  .activex{
    border-bottom: 2px solid hsl(0, 94%, 66%) !important;
    color: black !important;
    z-index: 100;
  }

.features,
.download,
.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content img{
    width: 90% !important;
    height: auto;
}
.features p{
    max-width: 100%;
    text-align: center;
    width: 35%;
}
.download p{
    max-width: 100%;
    width: 38%;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    
}
.card-info img{
    margin-top: 60px;
    width: 30%;
}
.card-info h4{
    margin-top: 30px !important;
    font-size: 22px;
}
.cardx{
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(37,43,70, 0.1);
    margin: auto;
}

.question p{
    max-width: 100%;
    width: 35%;
}
.fcontent p{
    margin: 20px 0px;
    width: 100% !important;
    text-align: left;
}
.fimg{
    width: 90%;
    float: right;
}
.group{
    max-width: 100%;
    width: 60%;
}
.slast{
    background-color: hsl(231, 69%, 60%);
    padding: 70px 0px ;
    color: #fff;
}
.fgroup{
    margin-top: 30px;
}
.fgroup input{
    padding: 9px 15px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    width: 300px;
}
.footer{
    margin-top: -50px;
}
.folast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 10px 0px;
}
.folast img{
    width: auto;
}
.folast ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folast ul li{
    margin-right: 40px;  
}
.folast ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}
.icons{
    right: 0%;
}

.accordion {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
  }
  .accordion-item button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
.accordion-item button:hover{
    cursor: pointer;
    color: hsl(0, 94%, 66%);
}


.accordion-content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion-butto{
    display: flex !important; 
    justify-content: space-between !important;
}
.fa{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #FA5757 !important;
}

@media only screen and (max-width: 768px){
    html,body{
        overflow-x: hidden;
    }

    body{
        margin-right: 0px !important;
        align-items: center; 
    }
    .main{
        display: flex;
        flex-direction: column-reverse !important;
    }
    .nav img{
        margin-top: 30px;
    }
    nav ul{
        display: none !important;
    }
    header::before {
        content: "";
        position: absolute;
        width: 60%;
        height: 40%;
        border-radius: 25% 0 0 25%;
        right: 0%;
        top: 30%;
        background-color: hsl(231, 69%, 60%);
        z-index: -1;
      }
    .ill1 img{
        margin-top: 80px !important;
    }
    .main{
        width: 100%;
    }
    .main1,.ill1{
        text-align: center;
    }
    .main1 p{
        width: 90%;
    }
    .content{
        text-align: center;
        
    }
    .content img{
        width: 80%;
        align-items: center !important;

        margin: auto !important;
        
    }
    .slider{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .slider li{
        border-bottom: 1px solid black !important;
    }
    .sort ul li{
        width: 70% !important;
    }
    .accordion{
        padding: 0% !important;
        width: 90% !important;
    }

    .fimg{
        float: none;
    }
    .fcontent{
        width: 90%;
        text-align: center;
        margin-left: 4% !important;
        margin-top: 50px !important;
    }
    .fcontent p{
        margin: auto !important;
        text-align: center;
    }
    .fcontent button{
        visibility: hidden;
    }
    .features{
        margin-top: 100px !important;
    }
    .features p{
        width: 80%;
    }
    .download{
        align-items: center;
        margin: auto !important;
        margin-left: 2% !important;
    }
    .download p{
        max-width: 100%;
        width: 65%;
    }
    .accordion{
        width: 50%;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    .cardx{
        margin: auto;
    }
    .question{
        text-align: center;
    }
    .question h3{
        width: 90%;
    }
    .question p{
        width: 80%;
    }
    .slast h2{
        font-size: 26px;
    }
    .btnc{
        color: #fff;background-color: hsl(231, 69%, 60%);
       
    }
    .fgroup{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .fgroup input,
    .fgroup button{
        
        width: 90%;
    }
    .fgroup button{
        margin-top: 20px;
    }
    .folast{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .folast .child{
        display: flex;
        flex-direction: column;
    }

    .child li {
        margin-bottom: 15px !important;
    }
}

@media (min-width: 1023px){
    .fcontent{
        padding-left: 100px; 
        padding-right: 80px;
    }
    .cards{
        height: auto;
    }
    .card2{
        margin-top: 100px !important;
    }
    .card3{
        margin-top: 130px !important;
    }
    nav{
        margin-top: 20px !important;
    }

    #sp1{
        margin-right: 50px !important;
    }

}
@media (max-width: 480px){

    body{
        overflow-x: hidden;
    }
    header::before {
        content: "";
        position: absolute;
        width: 63%;
        height: 23%;
        border-radius: 25% 0 0 25%;
        right: 0%;
        top: 36%;
        background-color: hsl(231, 69%, 60%);
        z-index: -1;
      }
    .main1{
        margin-top: 30px;
    }
    .main1 h1{
        width: 100% !important;
        font-size: 32px;
    }
    .cards{
        margin-top: 40px;
       
    }
    .cardx{
        margin-bottom: 30px !important;
       
    }
    .question{
        margin-top: 80px !important;
    }
    .question p{
        margin-top: 10px;
    }
    .accx{
        margin-top: 20px;
    }
}
@media (min-width: 425px) and (max-width: 480px){

    body{
        overflow-x: hidden;
    }
    header::before {
        content: "";
        position: absolute;
        width: 63%;
        height: 27%;
        border-radius: 25% 0 0 25%;
        right: 0%;
        top: 36%;
        background-color: hsl(231, 69%, 60%);
        z-index: -1;
      }
    
}
@media (min-width: 770px) and (max-width: 1023px){

    body{
        overflow-x: hidden;
    }
    header::before {
        content: "";
        position: absolute;
        width: 35%;
        height: 30%;
        border-radius: 25% 0 0 25%;
        right: 0%;
        top: 25%;
        background-color: hsl(231, 69%, 60%);
        z-index: -1;
      }
    
}